version: '3'

services:
  photos:
    build: photos_server/
    depends_on:
      - 'database'
    ports: 
      - '3002:3002'

  description:
    build: description_server/
    depends_on:
      - 'database'
    ports:
      - '3003:3003'

  suggestions:
    build: suggestions_server/
    depends_on:
      - 'database'
    ports:
      - '3001:3001'

    suggestions:
    build: reviews_server/
    depends_on:
      - 'database'
    ports:
      - '3004:3004'

  database:
    image: mysql:latest
